<article ng-zcontroller="NewArticleCtrl" class="shadowed" itemscope itemtype="http://schema.org/Article">
  <form name="article" novalidate>
    <header class="page-header" >
      <h1 itemprop="headline">
        <input 
          class="input-block-level input-title" 
          type="text" 
          ng-model="article.title"
          required
          placeholder="Title">
      </h1>

      <p itemprop="keywords">
        <span ng-repeat="tag in article.tags" class="badge">
          {{tag}} <span class="icon-remove-sign" ng-click="removeTag(tag)"></span>
        </span>
        <span class="input-append">
          <input class="input-small" type="text" placeholder="tag" ng-model="newTag"/>
          <button class="btn" ng-click="addTag()">Add <i class="icon-plus-sign"></i></button>
        </span>
      </p>
    </header>
    <p class="well">
      <textarea md-editor ng-model="article.content">
      </textarea>
    </p>
    <p class="pull-right btn-group clearfix">
      <button 
        class="btn btn-small" 
        ng-click="save()" 
        ng-disabled="article.$pristine || article.$invalid">
          Save
      </button>
      <button 
        class="btn btn-small" 
        ng-click="article.$setPristine()"
        ng-disabled="article.$pristine">
          Discard
      </button>
    </p>
  </form>
</article>